.field-count__digit
    position: absolute
    z-index: 2
    right: 6px
    //top: 6px
    bottom: 8px
    display: block
    font-family: $ff-lightitalic
    font-size: $fs-small
    color: $lightGrayText

.field-count.overflown
  .field-count__digit
      color: $red-alfa


.scrollbar-visible > .field-count__digit
    right: 20px